<br>

<p-panel header="Cost Submit Local" [toggleable]="true">
    <p-table #dt1 [value]="ChallanModelList" dataKey="id" editMode="row" [scrollable]="true" [paginator]="true"
        [rows]="200" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 50, 100]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 30px">SL</th>
                <th>Bill Date</th>
                <th>Vehicle No</th>
                <th>Transport Vendor</th>
                <th>BillNo</th>
                <th>Action</th>
            </tr>

            <tr>
                <td style="width: 30px"></td>
                <td>
                    <input pInputText type="text" (input)="dt1.filter($event.target.value, 'billDate', 'contains')"
                        class="p-column-filter" style=" width: 100%; " />
                </td>
                <td>
                    <input pInputText type="text" (input)="dt1.filter($event.target.value, 'covervanno', 'contains')"
                        class="p-column-filter" style=" width: 100%; " />
                </td>
                <td>
                    <input pInputText type="text"
                        (input)="dt1.filter($event.target.value, 'transportcompany', 'contains')"
                        class="p-column-filter" style=" width: 100%; " />
                </td>
                <td>
                    <input pInputText type="text" (input)="dt1.filter($event.target.value, 'billNo', 'contains')"
                        class="p-column-filter" style=" width: 100%; " />
                </td>
                <td></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-challan let-rowIndex="rowIndex">

            <tr>
                <td style="width: 30px">{{ rowIndex+1 }}</td>
                <td>{{challan.transports.billDate | date:'MMMM d, y'}}</td>
                <td>{{challan.covervanno}}</td>
                <td>{{challan.transportcompany}}</td>
                <td>{{challan.transports.billNo}}</td>

                <td>
                    <a type="button" target="_blank" href="/tms/costing-form/{{challan.id}}"
                        class="btn btn-xs btn-outline-success">
                        <i class="fa fa-external-link" aria-hidden="true"></i> Edit</a>
                    <!-- <button class="btn btn-xs text-danger btn-outline-danger ml-2" (click)="deleteChallan(challan.id)">
                        Delete
                    </button> -->
                </td>

            </tr>
        </ng-template>
    </p-table>
</p-panel>