<p-panel header="Pending Task List" [toggleable]="true">
    <p-treeTable #tt [value]="taskCommonService.departmentPendingTask" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>Task Title</th>
          <th>Task Description</th>
          <th>Task No.</th>
          <th>Resposible Dept.</th>
          <th>Created By</th>
          <th>Created Date</th>
          <th>Creator Dept.</th>
          <th>Priority</th>
          <th>Action</th>
        </tr>
        <tr>
          <th>
            <input pInputText type="text" (input)="tt.filter($event.target.value, 'title', 'contains')">
          </th>
          <th>
            <input pInputText type="text" (input)="tt.filter($event.target.value, 'description', 'contains')">
          </th>
          <th>
            <input pInputText type="text" (input)="tt.filter($event.target.value, 'id', 'contains')">
          </th>
          <th>
            <input pInputText type="text" (input)="tt.filter($event.target.value, 'responsibleDeptName', 'contains')">
          </th>
          <th>
            <input pInputText type="text" (input)="tt.filter($event.target.value, 'taskCreatorName', 'contains')">
          </th>
          <th>
            <input pInputText type="text" (input)="tt.filter($event.target.value, 'createDate', 'contains')">
          </th>
          <th>
            <input pInputText type="text" (input)="tt.filter($event.target.value, 'taskCreatorDept', 'contains')">
          </th>
          <th>
            <input pInputText type="text" (input)="tt.filter($event.target.value, 'taskPriority', 'contains')">
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr [ttRow]="rowNode">
          <td>
            <p-treeTableToggler  [rowNode]="rowNode"></p-treeTableToggler>
            {{rowData.title}}
          </td>
          <td>{{rowData.description}}</td>
          <td>{{rowData.id}}</td>
          <td>{{rowData.responsibleDeptName}}</td>
          <td>{{rowData.taskCreatorName}}</td>
          <td>{{rowData.createDate}}</td>
          <td>{{rowData.taskCreatorDept}}</td>
          <td>{{rowData.taskPriority}}</td>
          <td><p-splitButton label="Action" icon="pi pi-cog" (onClick)="save(rowData)" [model]="cmds(rowData)"
              styleClass="ui-button-warning"></p-splitButton>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </p-panel>