// td {
//   font-size: 10px !important;
//   padding: 0.2em 0.2em !important;
//   font-weight: bold;
// }
// th {
//   font-size: 12px !important;
//   padding: 0.2em 0.2em !important;
//   font-weight: bold;
// }

// .bc > th {
//   padding: 0px !important;
//   color: #ffffff !important;
//   background-color: #5793cb !important;
// }

.ui-dropdown {
    min-width: 0 !important;
  }
  
  tr > th {
    padding: 0px !important;
    color: #ffffff !important;
    background-color: #5793cb !important;
  }
  
  th:nth-child(1) {
    text-align: center;
    width: 230px;
   
  }
  td > input:nth-child(1) {
    text-align: center;
    width: 100%;
     
  }
  
  td:nth-child(1) {
    text-align: center;
    width: 230px;
    background-color: #F5B7B1!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  
  th:nth-child(2) {
    text-align: center;
    width: 110px;
   
  }
  td > input:nth-child(2) {
    text-align: center;
    width: 100%;
    font-size: 13px !important;
    line-height: 1.428571 !important;
   
  }
  td:nth-child(2) {
    text-align: center;
    width: 110px;
    background-color:  #D7BDE2!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  th:nth-child(3) {
    text-align: center;
    width: 90px;
     
  }
  td > input:nth-child(3) {
    text-align: center;
    width: 100%;
    
  }
  td:nth-child(3) {
    text-align: center;
    width: 90px;
    background-color:  #AED6F1!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  th:nth-child(4) {
    text-align: center;
    width: 100px;
    
  }
  td > input:nth-child(4) {
    text-align: center;
    width: 100%;
     
  }
  td:nth-child(4) {
    text-align: center;
    width: 100px;
    background-color: rgb(171, 235, 198)!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  th:nth-child(5) {
    text-align: center;
    width: 80px;
   
  }
  td > input:nth-child(5) {
    text-align: center;
    width: 100%;
  
     
  }
  td:nth-child(5) {
    text-align: center;
    width: 80px;
    background-color:  #D7BDE2!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  th:nth-child(6) {
    text-align: center;
    width: 80px;
  }
  td > input:nth-child(6) {
    text-align: center;
    width: 100%;
  }
  td:nth-child(6) {
    text-align: center;
    width: 80px;
    background-color:  #AED6F1!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  th:nth-child(7) {
    text-align: center;
    width: 80px;
  }
  td > input:nth-child(7) {
    text-align: center;
    width: 100%;
  }
  td:nth-child(7) {
    text-align: center;
    width: 80px;
    background-color: rgb(171, 235, 198)!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  
  th:nth-child(8) {
    text-align: center;
    width: 80px;
  }
  td > input:nth-child(8) {
    text-align: center;
    width: 100%;
  }
  td:nth-child(8) {
    text-align: center;
    width: 80px;
    background-color:  #D7BDE2!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  
  th:nth-child(9) {
    text-align: center;
    width: 80px;
  }
  td > input:nth-child(9) {
    text-align: center;
    width: 100%;
  }
  td:nth-child(9) {
    text-align: center;
    width: 80px;
    background-color:  #AED6F1!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  
  th:nth-child(10) {
    text-align: center;
    width: 80px;
  }
  td > input:nth-child(10) {
    text-align: center;
    width: 100%;
  
  }
  td:nth-child(10) {
    text-align: center;
    width: 80px;
    background-color: rgb(171, 235, 198)!important;
  
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  
  th:nth-child(11) {
    text-align: center;
    width: 80px;
  }
  td > input:nth-child(11) {
    text-align: center;
    width: 100%;
  }
  td:nth-child(11) {
    text-align: center;
    width: 80px;
    background-color:  #D7BDE2!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  th:nth-child(12) {
    text-align: center;
    width: 80px;
  }
  td > input:nth-child(12) {
    text-align: center;
    width: 100%;
  }
  td:nth-child(12) {
    text-align: center;
    width: 80px;
    background-color:  #AED6F1!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  
  th:nth-child(13) {
    text-align: center;
    width: 80px;
  }
  td > input:nth-child(13) {
    text-align: center;
    width: 100%;
  }
  td:nth-child(13) {
    text-align: center;
    width: 80px;
    background-color: rgb(171, 235, 198)!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  
  
  th:nth-child(14) {
    text-align: center;
    width: 80px;
  }
  td > input:nth-child(14) {
    text-align: center;
    width: 100%;
  }
  td:nth-child(14) {
    text-align: center;
    width: 80px;
    background-color:  #D7BDE2!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  
  th:nth-child(15) {
    text-align: center;
    width: 80px;
  }
  td > input:nth-child(15) {
    text-align: center;
    width: 100%;
  }
  td:nth-child(15) {
    text-align: center;
    width: 80px;
    background-color:  #AED6F1!important;
    font-size: 13px !important;
    line-height: 1.428571 !important;
  }
  
 
  table {
    width: 100%;
  }