<div class="row">
  <div class="col-md-4">
    <p-panel header="Create Lunch Token From Admin">
        <form [formGroup]="guestTokenForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">From Date <span class="required">*</span></label>
                <input [ngClass]="{
                    'is-invalid':
                      guestTokenForm.get('fromDate').errors &&
                      (guestTokenForm.get('fromDate').touched ||
                        guestTokenForm.get('fromDate').dirty)
                  }" type="date" class="form-control" formControlName="fromDate" />
              </div>
              <div class="form-group">
                <label class="control-label">To Date <span class="required">*</span></label>
                <input [ngClass]="{
                    'is-invalid':
                      guestTokenForm.get('toDate').errors &&
                      (guestTokenForm.get('toDate').touched ||
                        guestTokenForm.get('toDate').dirty)
                  }" type="date" class="form-control" formControlName="toDate" />
              </div>
              <div class="form-group">
                <label class="label-control">Unit</label>
                <select (change)="GetEmployees()" [ngClass]="{
                    'is-invalid':
                    guestTokenForm.get('unitType').errors &&
                      (guestTokenForm.get('unitType').touched ||
                      guestTokenForm.get('unitType').dirty)
                  }" class="form-control form-control-sm" formControlName="unitType">
                  <option value="">==Select One==</option>
                  <option [ngValue]="1">SCO</option>
                  <option [ngValue]="2">SaRa</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label">Employee Id <span class="required">*</span></label>
                <input [typeahead]="employeeList" [typeaheadMinLength]="0" [typeaheadScrollable]="true"
                  [typeaheadOptionsInScrollableView]="8" typeaheadOptionField="employeeId"                  
                  [ngClass]="{
                    'is-invalid':
                      guestTokenForm.get('employeeId').errors &&
                      (guestTokenForm.get('employeeId').touched ||
                        guestTokenForm.get('employeeId').dirty)
                  }" type="text" class="form-control" formControlName="employeeId" />
                  <!-- 
                    [typeaheadItemTemplate]="customItemTemplate"
                    <ng-template #customItemTemplate let-item="item">
                    <div>{{item.employeeId}} ({{ item.employeeName }})</div>
                  </ng-template> -->
              </div>
              <div class="form-group">
                <label class="control-label">Guest Type <span class="required">*</span></label>
                <select [ngClass]="{
                    'is-invalid':
                      guestTokenForm.get('tokenType').errors &&
                      (guestTokenForm.get('tokenType').touched ||
                        guestTokenForm.get('tokenType').dirty)
                  }" class="form-control" formControlName="tokenType">
                  <option value="O">Official Guest</option>
                  <option value="G">Personal Guest</option>
                  <option value="P">Personal</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label">Meal Type <span class="required">*</span></label>
                <select [ngClass]="{
                    'is-invalid':
                      guestTokenForm.get('mealOption').errors &&
                      (guestTokenForm.get('mealOption').touched ||
                        guestTokenForm.get('mealOption').dirty)
                  }" class="form-control" formControlName="mealOption">
                  <option value="G">Reqular</option>
                  <option value="H">Healthy</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Daily Number of Meal <span class="required">*</span></label>
                <input [ngClass]="{
                    'is-invalid':
                      guestTokenForm.get('numeberOfGuest').errors &&
                      (guestTokenForm.get('numeberOfGuest').touched ||
                        guestTokenForm.get('numeberOfGuest').dirty)
                  }" type="number" min="0" class="form-control" formControlName="numeberOfGuest" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <button type="button" class="btn btn-outline-success btn-xs" (click)="CreateGuestToken()">
                  <i class="fa fa-save"></i> Save
                </button>
              </div>
            </div>
          </div>
        </form>
    </p-panel>
  </div>

  <div class="col-md-8">
    <p-panel header="Meal Token Manage From Admin[{{ currentDate | date: 'd/M/y' }}]" [toggleable]="true">
      <p-table #dt *ngIf="empList != null" [value]="empList" [globalFilterFields]="[
          'employeeId',
          'employeeName',
          'monthName',
          'guestId',
          'yearName'
        ]" dataKey="employeeId" editMode="row" [scrollable]="true" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 50, 100]">>
        <ng-template pTemplate="caption">
          <div class="ui-helper-clearfix" style="text-align: right">
            <input type="text" pInputText size="50" placeholder="Global Filter"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="float: left" />

            <button (click)="GetMealTokenList()" class="btn btn-outline-primary btn-xs mr-2">
              <i class="fa fa-refresh"></i> Refresh
            </button>
            <!-- <button type="button" class="btn btn-outline-success btn-xs" [popover]="popTemplate"
              popoverTitle="Token Gen. For Guest" placement="left" [outsideClick]="false">
              <i class="fa fa-key"></i> Gen. Token For Guest
            </button> -->


          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr class="bc">
            <!-- <th>
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
            <!-- <th>SL</th> -->
            <th [pSortableColumn]="'employeeId'">
              Employee Id
              <p-sortIcon [field]="'employeeId'" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th [pSortableColumn]="'employeeName'">
              Employee Name
              <p-sortIcon [field]="'employeeName'" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th [pSortableColumn]="'tokenNumber'">
              Meal Token
              <p-sortIcon [field]="'monthName'" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th [pSortableColumn]="'guestId'">
              Guest Card Id
              <p-sortIcon [field]="'guestId'" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th [pSortableColumn]="'tokenGenDate'">
              Token Gen Date
              <p-sortIcon [field]="'TokenGenDate'" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th [pSortableColumn]="'tokenTypeDes'">
              Token Type
              <p-sortIcon [field]="'tokenTypeDes'" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th [pSortableColumn]="'tokenCancel'">
              Active Status
              <p-sortIcon [field]="'tokenCancel'" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th>Action</th>
          </tr>
          <tr>
            <!-- <td></td> -->
            <!-- <td></td> -->
            <td>
              <input pInputText type="text" (input)="dt.filter($event.target.value, 'employeeId', 'contains')" style="width: 120px;"
                class="p-column-filter" />
            </td>
            <td>
              <input pInputText type="text" (input)="dt.filter($event.target.value, 'employeeName', 'contains')" style="width: 120px;"
                class="p-column-filter" />
            </td>
            <td>
              <input pInputText type="text" (input)="dt.filter($event.target.value, 'tokenNumber', 'contains')" style="width: 120px;"
                class="p-column-filter" />
            </td>
            <td>
              <input pInputText type="text" (input)="dt.filter($event.target.value, 'guestCardId', 'contains')" style="width: 120px;"
                class="p-column-filter" />
            </td>
            <td>
              <input pInputText type="text" (input)="dt.filter($event.target.value, 'tokenGenDate', 'contains')" style="width: 120px;"
                class="p-column-filter" />
            </td>
            <td>
              <input pInputText type="text" (input)="dt.filter($event.target.value, 'tokenTypeDes', 'contains')" style="width: 120px;"
                class="p-column-filter" />
            </td>
            <td>
              <input pInputText type="text" (input)="dt.filter($event.target.value, 'tokenCancel', 'contains')" style="width: 120px;"
                class="p-column-filter" />
            </td>
            <td></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="rowData" class="center">
            <!-- <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td> -->
            <!-- <td>{{ ri + 1 }}</td> -->
            <td>{{ rowData.employeeId }}</td>
            <td>{{ rowData.employeeName }}</td>
            <td>{{ rowData.tokenNumber }}</td>
            <td>{{ rowData.guestId }}</td>
            <td>{{ rowData.tokenGenDate | date: "d/M/y" }}</td>
            <td>{{ rowData.tokenTypeDes }}</td>
            <td *ngIf="rowData.tokenCancel == 0">Active</td>
            <td *ngIf="rowData.tokenCancel == 1">In Active</td>
            <td>
              <button (click)="cancelToken(rowData)" *ngIf="rowData.tokenCancel == 0"
                class="btn btn-outline-primary btn-xs mr-2">
                <i class="fa fa-cross"></i> Cancel Token
              </button>
              <button (click)="activeToken(rowData)" *ngIf="rowData.tokenCancel == 1"
                class="btn btn-outline-info btn-xs mr-2">
                <i class="fa fa-check"></i> Active Token
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>

  </div>
</div>