body .ui-multiselect .ui-multiselect-label {
    padding: 0px !important;
    padding-right: 2em !important;
    color: #333333 !important;
  }

  dt{
    border-collapse: separate;
  }

  th:nth-child(1){
    text-align: center;
    width: 48px
  }
  td > input:nth-child(1){
    text-align: center;
    width: 100%;
  }
  td:nth-child(1){
    text-align: center;
    width: 48px
    
  } 


  th:nth-child(2){
    text-align: center;
    width: 50px;
   
  }
  td > input:nth-child(2){
    text-align: center;
    width: 100%;
  
  }
  td:nth-child(2){
    text-align: center;
    width: 50px;
   
  } 


  th:nth-child(3){
    text-align: center;
    width: 100px;
    
   
  }
  td > input:nth-child(3){
    text-align: center;
    width: 100%;
        
    
  }
  td:nth-child(3){
    text-align: center;
    width: 100px;
    
   
  } 

  th:nth-child(4){
    text-align: center;
    width: 100px;
    
   
  }
  td > input:nth-child(4){
    text-align: center;
    width: 100%;
        
    
  }
  td:nth-child(4){
    text-align: center;
    width: 100px;  
   
  } 

  th:nth-child(5){
    text-align: center;
    width: 100px;
    
   
  }
  td > input:nth-child(5){
    text-align: center;
    width: 100%;
        
    
  }
  td:nth-child(5){
    text-align: center;
    width: 100px;
    
   
  } 

  th:nth-child(6){
    text-align: center;
    width: 100px;
    
   
  }
  td > input:nth-child(6){
    text-align: center;
    width: 100%;
        
    
  }
  td:nth-child(6){
    text-align: center;
    width: 100px;
    
   
  } 

  th:nth-child(7){
    text-align: center;
    width: 100px;
    
   
  }
  td > input:nth-child(7){
    text-align: center;
    width: 100%;
        
    
  }
  td:nth-child(7){
    text-align: center;
    width: 100px;
    
   
  } 

  th:nth-child(8){
    text-align: center;
    width: 100px;
    
   
  }
  td > input:nth-child(8){
    text-align: center;
    width: 100%;
        
    
  }
  td:nth-child(8){
    text-align: center;
    width: 100px;
    
   
  } 

  th:nth-child(9){
    text-align: center;
    width: 100px;
    
   
  }
  td > input:nth-child(9){
    text-align: center;
    width: 100%;
        
    
  }
  td:nth-child(9){
    text-align: center;
    width: 100px;
    
   
  } 

  th:nth-child(10){
    text-align: center;
    width: 100px;
    
   
  }
  td > input:nth-child(10){
    text-align: center;
    width: 100%;
        
    
  }
  td:nth-child(10){
    text-align: center;
    width: 100px;
     
  } 


  th:nth-child(11){
    text-align: center;
    width: 100px;
    
   
  }
  td > input:nth-child(11){
    text-align: center;
    width: 100%;
        
    
  }
  td:nth-child(11){
    text-align: center;
    width: 100px;
    
   
  } 