<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5>Available Snacks Items</h5>
      </div>
      <div class="card-Body">
        <app-available-snacks-items></app-available-snacks-items>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5>My-Cart for Order</h5>
      </div>
      <div class="card-Body">
        <app-snaks-cart-items></app-snaks-cart-items>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5>My Ordered History</h5>
      </div>
      <div class="card-Body">
        <app-snacks-order-history></app-snacks-order-history>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5>My Received History</h5>
      </div>
      <div class="card-Body">
        <app-snacks-received-history></app-snacks-received-history>
      </div>
    </div>
  </div>
</div>