<form [formGroup]="customForm" class="needs-validation">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <div class="input-group input-group-sm mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"
              >New Password<span class="required">&nbsp;*</span></span
            >
          </div>
          <input
            type="text"
            [ngClass]="{
              'is-invalid':
                customForm.get('newPassword').errors &&
                (customForm.get('newPassword').touched ||
                  customForm.get('newPassword').dirty)
            }"
            id="newPassword"
            formControlName="newPassword"
            class="form-control"
            placeholder=" Enter New Password"
          />
        </div>
        <hr />
        <button
          class="btn btn-outline-success btn-sm"
          (click)="ChangePassword()"
        >
          <i class="fa fa-key"></i> Change Password
        </button>
      </div>
    </div>
  </div>
</form>
