.textarea {
  margin-right: 15px;
}

td {
  text-align: center;
  font-size: 14px;
}

input[readonly] {
  background-color: #E9ECEF !important;
  color: black !important;
  text-align: left !important;
  height: 40px !important;
}