<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!-- <h1 style="font-family:Helvetica Neue;text-align:center; font-size:55px;" (keyup.enter)="Nextpage()" (click)="Nextpage()">Welcome To Snowtex</h1> style="color: black;"-->


<div style="font-family:Helvetica Neue;text-align:center;font-size: 50px; color:black !important ; text-shadow: 2px 2px 4px #000000;"> 
    <a routerLink="/visitor-manage/visitor-info"   routerLinkActive="active">Welcome To Snowtex Group</a>
    </div>

    
<br/><br/>
<br/>
<!-- <h4 style="font-family:Helvetica Neue;text-align:center;font-size: 40px;" (keyup.enter)="Nextpage()" (click)="Nextpage()">Press Enter to Continue</h4> -->

<div style="font-family:Helvetica Neue;text-align:center;font-size: 40px; color:black !important" > 
<a routerLink="/visitor-manage/visitor-info"  style="color: rgb(136, 115, 115);" routerLinkActive="active" (keyup.enter)="Nextpage()" >Press Click to Continue</a>
</div>

 
<!-- <input (keydown.enter)='add_showroom()'  /> -->