<p-panel header="Traning Entry" [toggleable]="true">
  <ng-template pTemplate="icons">
    <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
      <span class="pi pi-cog"></span>
    </button>
    <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
  </ng-template>

  <form [formGroup]="trainingEntryForm">
    <section>
      <div class="row">
        <div class="col-md-11"></div>
        <div class="col-md-1">
          <a target="_blank" href="/idm/training-file-upload" style="align-items:center;"><button mat-fab color="primary" type="button"
              label="File Upload" pTooltip=" Training File Upload">
              <i class="fa fa-file" aria-hidden="true"></i>
            </button></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Training Info </legend>
            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">1.Department<span class="required">&nbsp;*</span></span>
                    </div>
                    <input [ngClass]="{
                              'is-invalid':
                              trainingEntryForm.get('departmentName').errors &&
                              (trainingEntryForm.get('departmentName').touched ||
                              trainingEntryForm.get('departmentName').dirty)
                          }" formControlName="departmentName"
                      [typeahead]="commonService.GatePassEmployeeDepartmentList" [typeaheadMinLength]="0"
                      [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="8"
                      (typeaheadNoResults)="typeaheadNoResultsForDepartment($event)"
                      (typeaheadOnSelect)="onSelectEmployeeDepartment($event)" typeaheadOptionField="label"
                      class="form-control" (ngModelChange)="filterSectionListByDepartment()" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">2.Training Type<span class="required">&nbsp;*</span></span>
                    </div>
                    <select formControlName="typeId" class="p-inputtext-sm form-control uppercase" [ngClass]="{
                            'is-invalid':
                            trainingEntryForm.get('typeId').errors &&
                              (trainingEntryForm.get('typeId').touched ||
                              trainingEntryForm.get('typeId').dirty)
                          }" (change)="onSelectEmployeeSection($event)">
                      <option *ngFor="let type of TrainingTypeListDropDown" [ngValue]="type.value">
                        {{ type.label }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">3.Section</span>
                    </div>
                    <input [ngClass]="{
                              'is-invalid':
                              trainingEntryForm.get('sectionName').errors &&
                              (trainingEntryForm.get('sectionName').touched ||
                              trainingEntryForm.get('sectionName').dirty)
                          }" formControlName="sectionName" [typeahead]="TrainingEntrySectionList"
                      [typeaheadMinLength]="0" [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="8"
                      (typeaheadNoResults)="typeaheadNoResultsForSection($event)" typeaheadOptionField="label"
                      class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">4.Code<span class="required">&nbsp;*</span></span>
                    </div>
                    <input [ngClass]="{
                              'is-invalid':
                              trainingEntryForm.get('trainingCode').errors &&
                              (trainingEntryForm.get('trainingCode').touched ||
                              trainingEntryForm.get('trainingCode').dirty)
                          }" type="text" id="trainingCode" formControlName="trainingCode" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">5.Trainner Type</span>
                    </div>
                    <select formControlName="trainerType" class="p-inputtext-sm form-control uppercase"
                      (ngModelChange)="changeTrainerType()">
                      <option value=""> Select </option>
                      <option value="I">Internal</option>
                      <option value="E">External</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6" *ngIf="internalType">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">6.Trainner<span class="required">&nbsp;*</span></span>
                    </div>
                    <input formControlName="trainerName" [typeahead]="commonService.GatePassEmployeeList"
                      [typeaheadMinLength]="0" [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="8"
                      (typeaheadNoResults)="typeaheadNoResultsSupervisor($event)"
                      (typeaheadOnSelect)="onSelectSupervisor($event)" typeaheadOptionField="label"
                      class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-md-6" *ngIf="externalType">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">6.Trainner<span class="required">&nbsp;*</span></span>
                    </div>
                    <input type="text" id="trainerNameExternal" formControlName="trainerNameExternal"
                      class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-md-6" *ngIf="showUploadButton">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <input type="file" #inputFile multiple (change)="getFileDetails($event)" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <textarea id="trainingName" formControlName="trainingName" name="trainingName" rows="3" cols="50"
                      class="form-control" placeholder="Write Training Title Here..."></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <button *ngIf="!showUpdateButton" type="button" class="btn btn-outline-success btn-xs"
                  style="margin-top: 46px;margin-left: -20px;" (click)="addUserToList()"><i class="fa fa-plus"
                    aria-hidden="true"></i> Add </button>&nbsp;&nbsp;
                <button *ngIf="showUpdateButton" type="button" class="btn btn-outline-success btn-xs"
                  style="margin-top: 46px;margin-left: -20px;" (click)="updateTrainer()"><i class="fa fa-plus"
                    aria-hidden="true"></i> Update </button>&nbsp;&nbsp;
                <button type="button" class="btn btn-outline-warning btn-xs" style="margin-top: 46px;"
                  (click)="clearForm()"><i class="fa fa-refresh" aria-hidden="true"></i> Clear </button>
              </div>
            </div>
          </fieldset>
          <br>
          <div *ngIf="showNewTrainingList">
            <legend class="scheduler-border">New Training List
              <fieldset class="scheduler-border">
                <div class="row" *ngIf="AllNewTrainingList.length>0">
                  <div class="col-md-12">
                    <p-table [value]="AllNewTrainingList" #dt editMode="row">
                      <ng-template pTemplate="header">
                        <tr class="bc">
                          <th>SL</th>
                          <th>Code</th>
                          <th>Trainning Title</th>
                          <th>Action</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-editing="editing" let-rowIndex="rowIndex">
                        <tr [pEditableRow]="rowData">
                          <td>{{ rowIndex+1 }}</td>
                          <td>{{ rowData.trainingCode}}</td>
                          <td>{{ rowData.trainingName}}</td>
                          <td>
                            <a class="btn btn-outline-primary btn-xs ml-1" type="button" (click)="deleteItem(rowData)">
                              <i class="fa fa-trash" aria-hidden="true"></i></a>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <button style="margin-top: 8px;" type="button" class="btn btn-outline-success btn-xs"
                        (click)="createTraining()"><i class="fa fa-file" aria-hidden="true"></i> Save Training </button>
                    </div>
                  </div>
                </div>
              </fieldset>
            </legend>
          </div>
        </div>
        <div class="col-md-6" *ngIf="showTrainingList">
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Trainning List</legend>
            <!-- <div class="row"> -->
            <!-- <div class="col-md-12"> -->
            <p-table [value]="TrainingInfoList" #dt editMode="row" *ngIf="TrainingInfoList">
              <ng-template pTemplate="header">
                <tr class="trainingList">
                  <th>SL</th>
                  <th [pSortableColumn]="'trainingCode'">
                    <p-sortIcon [field]="'trainingCode'" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                    Code
                  </th>

                  <th [pSortableColumn]="'trainingName'">
                    <p-sortIcon [field]="'trainingName'" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>Training Title
                  </th>
                  <th>Action</th>
                </tr>
                <tr class="trainingList">
                  <td
                    style="padding: 2px 3px !important; color: black !important; background-color: #dee2e6 !important; text-align: center; font-size: 12px; font-weight: bold;">
                  </td>
                  <td>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'trainingCode', 'contains')"
                      class="p-column-filter" />
                  </td>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'trainingName', 'contains')"
                    class="p-column-filter" style="width: 300px;"/>
                  <td
                  style="padding: 2px 3px !important; color: black !important; background-color: #dee2e6 !important; text-align: center; font-size: 12px; font-weight: bold;">
                </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-editing="editing" let-rowIndex="rowIndex">
                <tr [pEditableRow]="rowData" class="trainingList" [ngStyle]="{ 'background-color': '#e0fede' }">
                  <td >{{ rowIndex+1 }}</td>
                  <td >{{ rowData.trainingCode}}</td>
                  <td >{{ rowData.trainingName}}</td>
                  <td >
                    <button pButton pRipple type="button" label="Edit" icon="fa fa-edit"
                      (click)="editTrainingInfo(rowData)"
                      style="font-size:10px!important;background: #64daa2!important;cursor: pointer; width: 60px;">
                    </button>

                    <button pButton pRipple type="button" label="Delete" icon="fa fa-edit"
                      (click)="clickMethod(rowData.id)"
                      style="font-size:10px!important;background: #f72121!important;cursor: pointer; width: 60px;">
                    </button>
                    <!-- (click)="DeleteTraining(rowData.id)" -->
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </fieldset>
        </div>
      </div>
    </section>
  </form>
</p-panel>