

th:nth-child(1){
    text-align: center;
    width: 50px; 
}

td > input:nth-child(1){
    text-align: center;
    width: 100%;
}

td:nth-child(1){
    text-align: center;
    width: 50px;   
}

th:nth-child(2){
    text-align: center;
    width: 150px; 
    position:sticky;
    left:0;
    z-index:1; 
    background-color: #F5B7B1!important;
}

td > input:nth-child(2){
    text-align: center;
    width: 100%;

    position:sticky;
    left:0;
    z-index:1; 
    background-color: #F5B7B1!important;
}

td:nth-child(2){
    text-align: center;
    width: 150px;  
    
    position:sticky;
    left:0;
    z-index:1; 
    background-color: #F5B7B1!important;
}

th:nth-child(3){
    text-align: center;
    width: 150px; 

    position:sticky;
    left:150px;
    z-index:3;
    background-color:  #AED6F1!important;

}

td > input:nth-child(3){
    text-align: center;
    width: 100%;

    position:sticky;
    left:150px;
    z-index:3;
    background-color:  #AED6F1!important;
}

td:nth-child(3){
    text-align: center;
    width: 150px;

    position:sticky;
    left:150px;
    z-index:3;
    background-color:  #AED6F1!important;   
}

th:nth-child(4){
    text-align: center;
    width: 100px; 

    position:sticky;
    left:300px;
    z-index:3;
    background-color:  rgb(171, 235, 198)!important;
}

td > input:nth-child(4){
    text-align: center;
    width: 100%;

    position:sticky;
    left:300px;
    z-index:3;
    background-color:  rgb(171, 235, 198)!important;
}

td:nth-child(4){
    text-align: center;
    width: 100px;  
    
    position:sticky;
    left:300px;
    z-index:3;
    background-color:  rgb(171, 235, 198)!important;
}

th:nth-child(5){
    text-align: center;
    width: 100px; 
    position:sticky;

    left:400px;
    z-index:3;
    background-color:  rgb(171, 235, 231)!important;
}

td > input:nth-child(5){
    text-align: center;
    width: 100%;

    position:sticky;
    left:400px;
    z-index:3;
    background-color:  rgb(171, 235, 231)!important;
}

td:nth-child(5){
    text-align: center;
    width: 100px; 

    position:sticky;
    left:400px;
    z-index:3;
    background-color:  rgb(171, 235, 231)!important;  
}

th:nth-child(6){
    text-align: center;
    width: 100px; 

    position:sticky;
    left:500px;
    z-index:3;
    background-color:  rgb(171, 171, 235)!important;
}

td > input:nth-child(6){
    text-align: center;
    width: 100%;

    position:sticky;
    left:500px;
    z-index:3;
    background-color:  rgb(171, 171, 235)!important;
}

td:nth-child(6){
    text-align: center;
    width: 100px;  
    
    position:sticky;
    left:500px;
    z-index:3;
    background-color:  rgb(171, 171, 235)!important;
}

th:nth-child(7){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(7){
    text-align: center;
    width: 100%;
}

td:nth-child(7){
    text-align: center;
    width: 100px;   
}

th:nth-child(8){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(8){
    text-align: center;
    width: 100%;
}

td:nth-child(8){
    text-align: center;
    width: 100px;   
}

th:nth-child(9){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(9){
    text-align: center;
    width: 100%;
}

td:nth-child(9){
    text-align: center;
    width: 100px;   
}

th:nth-child(10){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(10){
    text-align: center;
    width: 100%;
}

td:nth-child(10){
    text-align: center;
    width: 100px;   
}

th:nth-child(11){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(11){
    text-align: center;
    width: 100%;
}

td:nth-child(11){
    text-align: center;
    width: 100px;   
}

th:nth-child(12){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(12){
    text-align: center;
    width: 100%;
}

td:nth-child(12){
    text-align: center;
    width: 100px;   
}

th:nth-child(13){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(13){
    text-align: center;
    width: 100%;
}

td:nth-child(13){
    text-align: center;
    width: 100px;   
}

th:nth-child(14){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(14){
    text-align: center;
    width: 100%;
}

td:nth-child(14){
    text-align: center;
    width: 100px;   
}

th:nth-child(15){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(15){
    text-align: center;
    width: 100%;
}

td:nth-child(15){
    text-align: center;
    width: 100px;   
}

th:nth-child(16){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(16){
    text-align: center;
    width: 100%;
}

td:nth-child(16){
    text-align: center;
    width: 100px;   
}

th:nth-child(17){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(17){
    text-align: center;
    width: 100%;
}

td:nth-child(17){
    text-align: center;
    width: 100px;   
}

th:nth-child(18){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(18){
    text-align: center;
    width: 100%;
}

td:nth-child(18){
    text-align: center;
    width: 100px;   
}

th:nth-child(19){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(19){
    text-align: center;
    width: 100%;
}

td:nth-child(19){
    text-align: center;
    width: 100px;   
}

th:nth-child(20){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(20){
    text-align: center;
    width: 100%;
}

td:nth-child(20){
    text-align: center;
    width: 100px;   
}

th:nth-child(21){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(21){
    text-align: center;
    width: 100%;
}

td:nth-child(21){
    text-align: center;
    width: 100px;   
}

th:nth-child(22){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(22){
    text-align: center;
    width: 100%;
}

td:nth-child(22){
    text-align: center;
    width: 100px;   
}

th:nth-child(23){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(23){
    text-align: center;
    width: 100%;
}

td:nth-child(23){
    text-align: center;
    width: 100px;   
}

th:nth-child(24){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(24){
    text-align: center;
    width: 100%;
}

td:nth-child(24){
    text-align: center;
    width: 100px;   
}

th:nth-child(24){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(24){
    text-align: center;
    width: 100%;
}

td:nth-child(24){
    text-align: center;
    width: 100px;   
}

th:nth-child(25){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(25){
    text-align: center;
    width: 100%;
}

td:nth-child(25){
    text-align: center;
    width: 100px;   
}

th:nth-child(26){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(26){
    text-align: center;
    width: 100%;
}

td:nth-child(26){
    text-align: center;
    width: 100px;   
}

th:nth-child(27){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(27){
    text-align: center;
    width: 100%;
}

td:nth-child(27){
    text-align: center;
    width: 100px;   
}

th:nth-child(28){
    text-align: center;
    width: 100px; 
}

td > input:nth-child(28){
    text-align: center;
    width: 100%;
}

td:nth-child(28){
    text-align: center;
    width: 100px;   
}