.width-130 {
    width: 140px !important;
}

/* For table headers */
th:nth-child(1), th:nth-child(2), th:nth-child(3), th:nth-child(4), 
th:nth-child(5), th:nth-child(6), th:nth-child(7), th:nth-child(8), 
th:nth-child(9), th:nth-child(10), th:nth-child(11), th:nth-child(12),
th:nth-child(13), th:nth-child(14), th:nth-child(15), th:nth-child(16), 
th:nth-child(17), th:nth-child(18), th:nth-child(19), th:nth-child(20) {
    text-align: center;
    width: 150px;
}

/* For table data cells */
td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4), 
td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8), 
td:nth-child(9), td:nth-child(10), td:nth-child(11), td:nth-child(12),
td:nth-child(13), td:nth-child(14), td:nth-child(15), td:nth-child(16), 
td:nth-child(17), td:nth-child(18), td:nth-child(19), td:nth-child(20) {
    text-align: center;
    width: 150px;
}

.report-list {
    display: block;
}

.report-item {
    display: flex;
    align-items: center; 
}
.report-item label{
    margin: 1px 0px!important;
}

.report-item input[type="radio"] {
    margin-right: 10px; 
}

.report-item label {
    font-size: 16px; 
    color: #333; 
}

.report-item:last-child {
    margin-bottom: 0; 
}