<p-panel header="Meeting List" [toggleable]="true">
    <ng-template pTemplate="icons">
      <button
        pButton
        class="p-panel-header-icon p-link"
        (click)="menu.toggle($event)"
      >
        <span class="pi pi-cog"></span>
      </button>
      <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>
    <form [formGroup]="CustomConferenceListMasterForm">
        <fieldset class="form-group p-4">
            <legend class="w-auto px-2">List And Feedback</legend>
            <p-table
              [value]="AllMeetingList"
              #dt
              dataKey="id"
              [scrollable]="true"
              scrollHeight="500px"
              editMode="row"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="text-align: center!important;">Room Name</th>
                  <th style="text-align: center!important;">Book Date</th>
                  <th style="text-align: center!important;">Booked Time</th>
                  <th style="text-align: center!important;">Department</th>
                  <th style="text-align: center!important;">Meeting Agenda</th>
                  <th style="text-align: center!important;">Action</th>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-rowData
                let-editing="editing"
                let-ri="rowIndex"
              >
                <tr [pEditableRow]="rowData">
                  <td [ngStyle]="{ 'background-color': rowData.backgroundColor }">{{ rowData.roomName }}</td>
                  <td [ngStyle]="{ 'background-color': rowData.backgroundColor }">{{ rowData.bookDate | date: "dd/MM/yyyy"}}</td>
                  <td [ngStyle]="{ 'background-color': rowData.backgroundColor }">{{ rowData.startTime1 | date: "hh:mm a" }} - {{ rowData.endTime2 | date: "hh:mm a"}}</td>
                  <td [ngStyle]="{ 'background-color': rowData.backgroundColor }">{{ rowData.department }}</td>
                  <td [ngStyle]="{ 'background-color': rowData.backgroundColor }">{{ rowData.agenda }}</td>
                  <td [ngStyle]="{ 'background-color': rowData.backgroundColor }">
                    <button class="btn btn-danger btn-xs" (click)="participantList(rowData)" style="background: #F5B7B1!important;cursor: pointer;" *ngIf="rowData.feedbackFlag=='N'"><i class="fa fa-user" aria-hidden="true"></i> Participants</button>
                    <button class="btn btn-danger btn-xs" (click)="participantListForFeedback(rowData)" style="background: #D7BDE2!important;cursor: pointer;" *ngIf="rowData.feedbackFlag=='Y'"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Feedback</button>
                    <button class="btn btn-danger btn-xs" (click)="clickOnComplete(rowData)" style="background: #71f09b!important;cursor: pointer;" *ngIf="rowData.feedbackFlag=='D'"><i class="fa fa-check" aria-hidden="true"></i> Complete</button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
        </fieldset>
        <div class="row"  *ngIf="displayParticipant=='Y'">
          <div class="col-md-6">
            <fieldset class="form-group p-2">
              <legend class="w-auto px-2">Participant List</legend>
              <p-table
                [value]="allParticipantList"
                #dt
                dataKey="id"
                [scrollable]="true"
                scrollHeight="500px"
                editMode="row"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="text-align: center!important;">Participant Name</th>
                    <th style="text-align: center!important;">Action</th>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-rowData
                  let-editing="editing"
                  let-ri="rowIndex"
                >
                  <tr [pEditableRow]="rowData">
                    <td>{{ rowData.employeeName }}</td>
                    <td>
                      <button class="btn btn-danger btn-xs" (click)="FreeParticipant(rowData)" style="background: #F5B7B1!important;cursor: pointer;"><i class="fa fa-user-times" aria-hidden="true"></i> Remove Participants</button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
          </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset class="form-group p-2">
              <legend class="w-auto px-2">Add Participant</legend>
              <div class="col-md-12">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <!-- <div class="input-group-prepend">
                      <span class="input-group-text" style="height: 35px;">Participants<span class="required">&nbsp;*</span></span>
                    </div> -->
                    <p-multiSelect formControlName="participantId" id="participantId"  [style]="{ 'width': '32vw','height':'35px', 'font-size':'3px !important'  }"
                 [options]="commonService.GatePassEmployeeList"
                [(ngModel)]="selectedParticipant" defaultLabel=" Select Participant " optionLabel="label"
                display="employee" [ngModelOptions]="{ standalone: true }" (ngModelChange)="ChangeEmployeeName()">
              </p-multiSelect>
      
                  </div>
                </div>
                <p-table [value]="selectedParticipant"  #dt  editMode="row" *ngIf="selectedParticipant!=null && selectedParticipant.length > 0">
                  <ng-template pTemplate="header">
                    <tr class="bc">
                      <th>Participant Name</th>
                      <th>Action</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-editing="editing" let-rowIndex="rowIndex">
                     <tr [pEditableRow]="rowData">
                      <td>{{ rowData.label}}</td>
                      <td>
                        <a class="btn btn-outline-primary btn-xs ml-1" type="button" (click)="deleteItem(rowData)"> <i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                  </ng-template>

                </p-table>

                <div class="col-md-4" *ngIf="selectedParticipant!=null && selectedParticipant.length > 0">
                  <button pButton pRipple type="button" label="Add Participant" icon="pi pi-user-plus"
                    class="p-button-raised p-button-success p-button-text"
                    style="background: #D5F9F8;height: 25px;width: 50px;color: black;font-weight: bold;font-size: 8px!important;"
                    (click)="saveParticipantToMeeting()"
                    style="width:150px!important;font-size: 14px!important;margin-top: 5px!important;float: left;margin-left: -14px!important;cursor: pointer;"></button>
          
                </div>


              </div>
             
          </fieldset>


          </div>
        </div>
      </form>


        <div class="row"  *ngIf="displayFeedback=='Y'">
          <div class="col-md-8">
            <fieldset class="form-group p-2">
              <legend class="w-auto px-2">Feedback</legend>
              <p-table
                [value]="allParticipantListForFeedback"
                #dt
                dataKey="id"
                [scrollable]="true"
                scrollHeight="500px"
                editMode="row"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="text-align: center!important;">Participant Name</th>
                    <th style="text-align: center!important;">Entry Status</th>
                    <th style="text-align: center!important;">Late(Min.)</th>
                    <th style="text-align: center!important;">Early Out(Min.)</th>
                    
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-rowData
                  let-editing="editing"
                  let-ri="rowIndex"
                >
                  <tr [pEditableRow]="rowData">
                    <td>{{ rowData.employeeName }}</td>
                    <td>
                      <div class="input-group input-group-sm">
                        <select [(ngModel)]="rowData.attendStatus" class="p-inputtext-sm form-control uppercase" style="width: 100%;">
                          <option value="">SELECT</option>
                          <option value="P">Punctual</option>
                          <option value="A">Absent</option>
                          <option value="L">Late</option>
                          <option value="E">Early Out</option>
                        </select>
                    </div>
                      
                  </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input pInputText type="number" style="width: 100%;" [(ngModel)]="rowData.lateTime">
                    </div>
                  </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input pInputText type="number" style="width: 100%;" [(ngModel)]="rowData.earlyOut">
                    </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
          </fieldset>
          </div>

          <div class="col-md-4">
            <fieldset class="form-group p-2">
              <legend class="w-auto px-2">Meeting Minutes</legend>
              <div class="col-md-12">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <textarea id="meetingMinutes" name="meetingMinutes" rows="8" cols="50" class="form-control" placeholder="Write Meeting Minutes Here..."></textarea>
                  </div>
                </div>

              </div>
             
          </fieldset>

          <div class="col-md-4" *ngIf="allParticipantListForFeedback!=null && allParticipantListForFeedback.length > 0">
            <button pButton pRipple type="button" label="Save Feedback" icon="pi pi-thumbs-up"
              class="p-button-raised p-button-success p-button-text"
              style="background: #D7BDE2!important;height: 25px;width: 50px;color: black;font-weight: bold;font-size: 8px!important;"
              (click)="submitFeedback()"
              style="width:150px!important;font-size: 14px!important;margin-top: 5px!important;float: left;margin-left: -14px!important;cursor: pointer;background: #D7BDE2!important"></button>
    
          </div>


          </div>
          

        
        </div>





    
    </p-panel>
