<div class="row">
  <div class="col-md-8">
    <form
      [formGroup]="fabricMillForm"
      id="fabricMillForm"
      class="needs-validation"
    >
      <div class="form-group">
        <label for="millName" class="label-title"
          >Mill Name<span>*</span></label
        >

        <input type="hidden" id="id" formControlName="id" />

        <input
          type="text"
          [ngClass]="{
            'is-invalid':
              fabricMillForm.get('millName').errors &&
              (fabricMillForm.get('millName').touched ||
                fabricMillForm.get('millName').dirty)
          }"
          id="millName"
          formControlName="millName"
          class="form-control"
          placeholder=" Enter Mill Name"
        />

        <div
          class="invalid-feedback"
          *ngIf="fabricMillForm.get('millName').hasError('required')"
        >
          Mill Name is required!
        </div>
      </div>
      <div class="form-group">
        <button
          type="button"
          class="btn btn-outline-success"
          [disabled]="!fabricMillForm.valid"
          (click)="onSubmit()"
        >
          <i class="fa fa-database" aria-hidden="true"></i>
          {{ saveButtonTitle }}
        </button>
        <button
          class="btn btn-outline-info ml-3"
          type="button"
          (click)="BtnClear()"
        >
          <i class="fa fa-refresh" aria-hidden="true"></i> Clear
        </button>
      </div>
    </form>
  </div>
</div>
