td {
  text-align: center;
  font-size: 14px;
}

td>input {
  text-align: center;
  width: 100%;
}

th:nth-child(1),
td:nth-child(1) {
  text-align: center;
  width: 100px;

}

th:nth-child(2),
td:nth-child(2) {
  text-align: center;
  width: 100px;

}

th:nth-child(3),
td:nth-child(3) {
  text-align: center;
  width: 80px;
}

th:nth-child(4),
td:nth-child(4) {
  text-align: center;
  width: 80px;
}

th:nth-child(5),
td:nth-child(5) {
  text-align: center;
  width: 80px;
}

th:nth-child(6),
td:nth-child(6) {
  text-align: center;
  width: 100px;
}

th:nth-child(7),
td:nth-child(7) {
  text-align: center;
  width: 100px;
}

th:nth-child(8),
td:nth-child(8) {
  text-align: center;
  width: 80px;
}

th:nth-child(9),
td:nth-child(9) {
  text-align: center;
  width: 100px;
}

th:nth-child(10),
td:nth-child(10) {
  text-align: center;
  width: 100px;
}

th:nth-child(11),
td:nth-child(11) {
  text-align: center;
  width: 100px;
}

th:nth-child(12),
td:nth-child(12) {
  text-align: center;
  width: 100px;
}

th:nth-child(13),
td:nth-child(13) {
  text-align: center;
  width: 80px;
}

th:nth-child(14),
td:nth-child(14) {
  text-align: center;
  width: 80px;
}

th:nth-child(15),
td:nth-child(15) {
  text-align: center;
  width: 80px;
}

th:nth-child(16),
td:nth-child(16) {
  text-align: center;
  width: 100px;
}

th:nth-child(17),
td:nth-child(17) {
  text-align: center;
  width: 150px;
}

th:nth-child(18),
td:nth-child(18) {
  text-align: center;
  width: 80px;
}

th:nth-child(19),
td:nth-child(19) {
  text-align: center;
  width: 80px;
}

th:nth-child(20),
td:nth-child(20) {
  text-align: center;
  width: 100px;
}

th:nth-child(21),
td:nth-child(21) {
  text-align: center;
  width: 80px;
}

th:nth-child(22),
td:nth-child(22) {
  text-align: center;
  width: 80px;
}

th:nth-child(23),
td:nth-child(23) {
  text-align: center;
  width: 100px;
}

th:nth-child(24),
td:nth-child(24) {
  text-align: center;
  width: 100px;
}

th:nth-child(25),
td:nth-child(25) {
  text-align: center;
  width: 300px;
}

th:nth-child(26),
td:nth-child(26) {
  text-align: center;
  width: 100px;
}

th:nth-child(27),
td:nth-child(27) {
  text-align: center;
  width: 100px;
}

th:nth-child(28),
td:nth-child(28) {
  text-align: center;
  width: 100px;
}