.dollar {
  display: inline-block;
  position: relative;
}
.dollar input {
  padding-left: 15px;
}
.dollar:before {
  position: absolute;
  content: "$";
  left: 5px;
  top: 2px;
}

p {
  font-family: Lato;
}
