th:nth-child(1) {
    text-align: left;
    width: 80px;
  }
  th > input:nth-child(1) {
    text-align: left;
    width: 100%;
  }
  td:nth-child(1) {
    text-align: left;
    width: 80px;
  }
  th:nth-child(2) {
    text-align: left;
    width: 120px;
  }
  th > input:nth-child(2) {
    text-align: left;
    width: 100%;
  }
  td:nth-child(2) {
    text-align: left;
    width: 120px;
  }
  th:nth-child(3) {
    text-align: center;
    width: 30px;
  }
  th > input:nth-child(3) {
    text-align: center;
    width: 100%;
  }
  td:nth-child(3) {
    text-align: center;
    width: 30px;
  }
  th:nth-child(4) {
    text-align: left;
    width: 30px;
  }
  th > input:nth-child(4) {
    text-align: left;
    width: 100%;
  }
  td:nth-child(4) {
    text-align: left;
    width: 30px;
  }
  th:nth-child(5) {
    text-align: left;
    width: 30px;
  }
  th > input:nth-child(5) {
    text-align: left;
    width: 100%;
  }
  td:nth-child(5) {
    text-align: left;
    width: 30px;
  }
  th:nth-child(6) {
    text-align: left;
    width: 30px;
  }
  th > input:nth-child(6) {
    text-align: left;
    width: 100%;
  }
  td:nth-child(6) {
    text-align: left;
    width: 30px;
  }
  th:nth-child(7) {
    text-align: center;
    width: 20px;
  }
  th > input:nth-child(7) {
    text-align: center;
    width: 100%;
  }
  td:nth-child(7) {
    text-align: center;
    width: 20px;
  }
  th:nth-child(8) {
    text-align: left;
    width: 50px;
  }
  th > input:nth-child(8) {
    text-align: left;
    width: 100%;
  }
  td:nth-child(8) {
    text-align: left;
    width: 50px;
  }
  th:nth-child(9) {
    text-align: left;
    width: 50px;
  }
  th > input:nth-child(9) {
    text-align: left;
    width: 100%;
  }
  td:nth-child(9) {
    text-align: left;
    width: 50px;
  }
  th:nth-child(10) {
    text-align: left;
    width: 80px;
  }
  th > input:nth-child(10) {
    text-align: left;
    width: 100%;
  }
  td:nth-child(10) {
    text-align: left;
    width: 80px;
  }
  .ui-treetable-toggler {
    color: red !important;
    font-weight: bold !important;
  }
  .ui-unselectable-text{
    color: red !important;
    font-weight: bold !important;
  }


  