.table-borderless td,
.table-borderless th {
    border: 0 !important;
}

.bg-sco {
    background-color: #31A3DD !important;
    color: #ffffff;
}


.bg-sara {
    background-color: #1F5DA0 !important;
    color: #ffffff;
}


.bg-common {
    background-color: #5793CB !important;
    color: #ffffff;
}

.tr-bg-lunch-has-token {
    background-color: #ff9b9e !important;
    color: #ffffff !important;
}

.tr-bg-lunch-no-token {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.td-text-color{
    color: #ffffff!important;
}