<div class="row">
    <div class="col-md-12">
        <div class="modal-header">
            <h5 class="modal-title f-w-600" id="exampleModalLabel">{{ title }}</h5>
            <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form autocomplete="off" [formGroup]="reactiveForm" class="form" role="form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Employee Name </label>
                            <input [typeahead]="employeeList" [typeaheadScrollable]="true"
                                [typeaheadOptionsInScrollableView]="8" typeaheadOptionField="employeeName"
                                (typeaheadNoResults)="empNoResults($event)"  [typeaheadMinLength]="0"
                                (typeaheadOnSelect)="OnSelectEmployee($event)" [ngClass]="{
                                'is-invalid':
                                reactiveForm.get('employeeName').errors &&
                                  (reactiveForm.get('employeeName').touched || reactiveForm.get('employeeName').dirty)
                              }" class="form-control" type="text" formControlName="employeeName" />
                        </div>
                        <div class="form-group">
                            <button (click)="onSubmit()" class="btn btn-outline-success"><i class="fa fa-comments"
                                    aria-hidden="true"></i>
                                Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="alert">
                <button (click)="bsModalRef.hide()" class="btn btn-outline-primary" role="button">
                    <i class="fa fa-arrow-left mr-2"></i>Back
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <app-sp-current-status></app-sp-current-status>
    </div>
</div>