<div class="row">
  <div class="col-md-8">
    <form
      [formGroup]="basicTypeForm"
      id="basicTypeForm"
      class="needs-validation"
    >
      <div class="form-group">
        <label for="keyName" class="label-title">Key Name<span>*</span></label>

        <input type="hidden" id="id" formControlName="id" />

        <input
          type="text"
          [ngClass]="{
            'is-invalid':
              basicTypeForm.get('keyName').errors &&
              (basicTypeForm.get('keyName').touched ||
                basicTypeForm.get('keyName').dirty)
          }"
          id="keyName"
          formControlName="keyName"
          class="form-control"
          placeholder=" Enter Key Name"
        />

        <div
          class="invalid-feedback"
          *ngIf="basicTypeForm.get('keyName').hasError('required')"
        >
          Key Name is required!
        </div>
      </div>
      <div class="form-group">
        <button
          type="button"
          class="btn btn-outline-success"
          [disabled]="!basicTypeForm.valid"
          (click)="onSubmit()"
        >
          <i class="fa fa-database" aria-hidden="true"></i>
          {{ saveButtonTitle }}
        </button>
        <button
          class="btn btn-outline-info ml-3"
          type="button"
          (click)="BtnClear()"
        >
          <i class="fa fa-refresh" aria-hidden="true"></i> Clear
        </button>
      </div>
    </form>
  </div>
</div>
