<!-- <p-panel header="Vehicle Trip Completed" [toggleable]="true">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#PassengersVehicle">PASSENGERS VEHICLE</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#LogisticsSupport">FOR LOGISTICS SUPPORT</a></li>
          </ul>
          <div class="tab-content">
            <div id="PassengersVehicle" class="tab-pane fade in active show">
              <app-trip-complete-passengers></app-trip-complete-passengers>
            </div>
            <div id="LogisticsSupport" class="tab-pane fade">
              <app-trip-complete-passengers></app-trip-complete-passengers>
            </div>
          
          </div>
    </div>
</p-panel> -->

<app-trip-complete-passengers></app-trip-complete-passengers>