nav.outset {
  border-style: outset;
}
.center {
  text-align: center;
}

th:nth-child(1) {
  width: 200px;
}

td:nth-child(1) {
  width: 200px;
}

th:nth-child(3) {
  width: 200px;
}

td:nth-child(3) {
  width: 200px;
}
